<% include templates/navBar.html%>
    <!-- to get list of activity and location -->
    <div class="container all-location">
        <h3>this is the list of activity</h3>
        <h3>this is the list of location</h3>
    </div>
    <% include templates/footer.html%>