<div class="col-md-12">
    <!-- ngIf: successMessage -->
    <h2>All hotels <span class="ng-binding" style="float: right">1</span></h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Hotel Name</th>
                <th>Price</th>
                <th>Address</th>
                <th>Booking Status</th>
                <th>Contact</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <!-- ngRepeat: dat in hotelData -->
            <tr ng-repeat="dat in hotelData" class="ng-scope">
                <td class="ng-binding">rad</td>
                <td class="ng-binding">312311</td>
                <td class="ng-binding">dklasdjakl</td>
                <td class="ng-binding">false</td>
                <td class="ng-binding">839479824312312</td>
                <td><button class="fa fa-trash btn btn-danger" ng-click="removeHotel(dat._id)">
                    </button>
                    <button class="fa fa-pencil btn btn-info"></button>
                </td>
            </tr>
            <!-- end ngRepeat: dat in hotelData -->
        </tbody>
    </table>
</div>