<style>
    #home {
        border-right: 3px solid #ff7513;
    }
</style>
<!-- dashboard analysis future work -->
<div class="row lists-of-shortcuts">
    <div class=" col-md-12 lists-of-shortcuts-inner row">
        <div class="col-md-3 lists-of-shortcuts-inner-items">
            <div class="row">
                <div class="col-md-10 heading-shortcuts">
                    <h2>2200</h2>
                    <p>LOCATIONS</p>
                </div>
                <div class="col-md-2 heading-icons">
                    <span class="fa fa-map-marker"></span>
                </div>
            </div>
        </div>
        <div class="col-md-3 lists-of-shortcuts-inner-items">
            <div class="row">
                <div class="col-md-10 heading-shortcuts">
                    <h2>200</h2>
                    <p>FEEDBACKS</p>
                </div>
                <div class="col-md-2 heading-icons">
                    <span class="fa fa-comment"></span>
                </div>
            </div>
        </div>
        <div class="col-md-3 lists-of-shortcuts-inner-items">
            <div class="row">
                <div class="col-md-10 heading-shortcuts">
                    <h2>20</h2>
                    <p>USERS</p>
                </div>
                <div class="col-md-2 heading-icons">
                    <span class="fa fa-user"></span>
                </div>
            </div>
        </div>
        <div class="col-md-3 lists-of-shortcuts-inner-items">
            <div class="row">
                <div class="col-md-10 heading-shortcuts">
                    <h2>15</h2>
                    <p>GUIDERS</p>
                </div>
                <div class="col-md-2 heading-icons">
                    <span class="fa fa-map-marker"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row home-dashboard">
    <div class="col-md-12 inner-dashboard-graph">
        <p>Graphs here</p>
    </div>
</div>