<div>
    <!-- location map adding and view -->
    <div class="col-sm-12 col-md-12 news-content">
        <h5> Pick location to update map</h5>
        <div class="col-sm-12 col-md-12" style="padding: 0px 20px 16px 19px;">
            <div id='map' style='width: 100%; height: 300px;'></div><br>
            <div style="width:50%;">
                <label for="">Longitude
                    <pre id='lng'></pre></label>
                <label for="">Latitude
                    <pre id='lat'></pre></label><br>
            </div>
            <div style="width: 40%;float: right;margin-top: -75px;">
                <label for="">Saved Lng
                    <pre>{{weather.latitude}}</pre></label>
                <label>Saved Lat
                    <pre>{{weather.longitude}}</pre></label><br>
            </div>
            <label for="">{{message}}</label>
        </div>
    </div>
</div>